{% extends 'base.html' %}
{% load static %}      
{% block title %}Unshipped Items{% endblock %}
{% block content %}
        

        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
			<div class="container-fluid">
				<ul class="breadcrumb">
					<li class="breadcrumb-item"><a href="{% url 'core:index' %}">Home</a></li>
					<li class="breadcrumb-item"><a href="{% url 'core:update_user' %}">Account</a></li>
                    <li class="breadcrumb-item active">Unshipped Items</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        
		
        <!-- Wishlist Start -->
        <div class="wishlist-page">
            <div class="container-fluid">
                <div class="wishlist-page-inner">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Order {{ order.id}} - ${{order.amount_paid}}</th>
                                        </tr>
                                    </thead>
                                    <tbody class="align-middle">
                                        <tr>
                                            <td>
												<div class="card-body">
													Email: {{ order.email}}<br/>
													{% if order.date_shipped %}
													  Date Shipped: {{ order.date_shipped}}
													{% else %}
													 Date Ordered: {{ order.date_ordered}}
													{% endif %}
													<br/><br/>
													{{ order.full_name }}<br/>
													<pre>{{ order.shipping_address }}
													</pre>
													{% for item in items %}
													  {{ item.product }} - {{ item.quantity }} - ${{ item.price }}<br/>
												
													{% endfor %}
													<br/><br/>
											  </div>
											</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Wishlist End -->
{% endblock %}